<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
      integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
      crossorigin="anonymous"
      defer
    ></script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>Home page</h1>
      </div>
      <div class="controls" hx-swap="outerHTML">
        <button hx-get="/notes" hx-target="#notes-container">
          Display notes in a target
        </button>
        <button
          hx-get="/notes"
          hx-target="#notes-container"
          hx-trigger="mouseenter[ctrlKey]"
        >
          Display notes when mouse over + CTRL key
        </button>
        <div hx-boost="true">
          <a href="/notes/new">Create a note</a>
        </div>
      </div>
      <div id="notes-container" class="notes">Notes details displayed here</div>
    </div>
  </body>
</html>
