<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charSet="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn HTMX</title>
    <link rel="icon" href="/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossOrigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/login.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
      integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>
    <main>
      <form
        hx-post="/login"
        hx-headers='{
              "x-csrf-token": "test"
            }'
        hx-target="#extra-information"
        hx-sync="form:replace"
      >
        <div>
          <img src="/images/auth-icon.jpg" alt="A lock icon" />
        </div>
        <div class="control">
          <label for="email">Email</label>
          <input
            hx-post="/validate"
            hx-target="next p"
            hx-params="email"
            hx-headers='{
              "x-csrf-token": "test"
            }'
            type="email"
            name="email"
            id="email"
          />
          <p class="error"></p>
        </div>
        <div class="control">
          <label for="password">Password</label>
          <input
            hx-post="/validate"
            hx-target="next p"
            hx-params="password"
            hx-headers='{
              "x-csrf-token": "test"
            }'
            type="password"
            name="password"
            id="password"
          />
          <p class="error"></p>
        </div>
        <div id="extra-information"></div>
        <p>
          <button type="submit">Login</button>
        </p>
      </form>
    </main>
  </body>
</html>
