<!DOCTYPE html>
<html>
  <head>
    <title>Notes</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"
      integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm"
      crossorigin="anonymous"
      defer
    ></script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1>Notes page</h1>
      </div>
      <div class="form-notes-container">
        <form
          class="form-notes"
          hx-post="/notes"
          hx-target="#notes-container"
          hx-swap="innerHTML"
          hx-on::after-request="this.reset()"
          hx-disabled-elt="form button"
        >
          <div class="field">
            <label for="note">Note:</label>
            <input
              type="text"
              id="note"
              name="note"
              placeholder="Enter a note"
            />
          </div>
          <div class="form-action">
            <button type="submit">Create a note</button>
          </div>
        </form>
      </div>
      <div id="notes-container" class="notes">Notes details displayed here</div>
    </div>
  </body>
</html>
